/* Styles CSS */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  table {
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid black;
  }
  
  button {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #cd0000;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #4a0000;
  }